@model employeeManagement.Models.Employee
<html>
<body>
	<h1>Hello From Views!!!</h1>
	<h1>@ViewBag.PageTitle</h1>
	<div>
		Name : @Model.Name;
	</div>
	<div>
		Department : @Model.Department;
	</div>
	<div>
		Email: @Model.Email;
	</div>
</body>
</html>